@model IEnumerable<Expense_Tracker.Models.Transaction>

@{
    ViewData["Title"] = "Transaction";
    ViewData["PageActionText"] = "+ New Transaction";
    ViewData["PageActionUrl"] = "/Transaction/AddOrEdit";
}


<div class="row">
    <div class="col-md-7">

        <ejs-grid id="transactions" dataSource="@Model" gridLines="None" allowSorting="true" allowPaging="true">
            <e-grid-pagesettings pagesize="10"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column headerText="Category" field="CategoryTitleWithIcon"></e-grid-column>
                <e-grid-column headerText="Date" field="Date"  width="110px"
                type="Date" format="dd-MMM-yy" textalign="Left"></e-grid-column>
                <e-grid-column headerText="Amount" field="FormattedAmount" width="110px" textalign="Right"></e-grid-column>
                <e-grid-column headerText="Actions" width="100px" template="#ActionColumneTemplate"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>

    </div>

    <div class=" col-md-5">
        <div class="widget h-100 justify-content-center d-flex align-items-center" style="background-color:#212b36">
            <i class="fa-solid fa-money-bill-transfer fa-2xl"></i>
        </div>
    </div>
</div>

<script id="ActionColumneTemplate" type="text/x-template">

    <div class="d-flex flex-row justify-content-start">
        <a class="btn btn-sm no-a-decoration" href="/Transaction/AddOrEdit/${TransactionId}">
          <i class="fa-solid fa-pen fa-lg"></i>
               </a>

        <form method="post" action="/Transaction/Delete/${TransactionId}">
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-sm btn-link no-a-decoration"
            onclick="return confirm(&quot; Are you sure delete this record?&quot;)">
                <i class="fa-solid fa-trash-can fa-lg text-danger"></i>
            </button>
        </form>
    </div>

</script>